[Unit]
Description=Docker compose service starter
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%I
ExecStart=/usr/bin/docker-compose -f "%I/docker-compose.yaml" up -d
ExecStop=/usr/bin/docker-compose -f "%I/docker-compose.yaml" down

[Install]
WantedBy=multi-user.target